[Unit]
Description=Debugging Pi USB Network for Pi Zero W
After=sys-subsystem-net-devices-usb0.device
BindsTo=sys-subsystem-net-devices-usb0.device
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nmcli connection up usb-zero
ExecStop=/usr/bin/nmcli connection down usb-zero
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
