interface={{DNSMASQ_INTERFACE}}
bind-interfaces
server={{DNS_SERVER}}
domain-needed
bogus-priv
no-resolv
no-hosts

dhcp-range={{DHCP_START}},{{DHCP_END}},{{DHCP_NETMASK}},12h
dhcp-option=3,{{GATEWAY_IP}}
